<div #container>
  <app-chart [dimensions]="dimensions">
    <!--
      For all of our chart components, we’ll initialize them as attributes of a <g> element.
      This will keep our chart library’s API as simple as possible.
    -->

    <!-- Remember that SVG elements’ z-indices are determined by their order in the DOM. If you want your line to overlap your axes, make sure to add the appAxis component before the appLine component. -->
    <svg:g
      appAxis
      dimension="x"
      [dimensions]="dimensions"
      [scale]="xScale"
      [label]="label"
      [formatTick]="formatDate"
    ></svg:g>

    <svg:g
      appAxis
      dimension="y"
      [dimensions]="dimensions"
      [scale]="yScale"
      [label]="label"
    ></svg:g>

    <!-- Draw the line -->
    <svg:g
      appLine
      [data]="data"
      [xAccessor]="xAccessorScaled"
      [yAccessor]="yAccessorScaled"
    ></svg:g>
  </app-chart>
</div>
